* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ffffff;
}

.header {
    padding: 15px;
    background-color: #230633;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: Calibri, 'Trebuchet MS, sans-serif;
}

.header h1 {
    color: #d9dcd6;
    font-family: Calibri, 'Trebuchet MS, sans-serif;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header p {
    font-size: 20px;
}

.header ul li {
    display: inline-block;
    margin: 30px;
    font-size: 22px;
    line-height: 20px;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;
    align-items: center;
}

/* .navigation {
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;
    align-items: center;
} */

a {
    color: #ffffff;
    text-decoration: none;
    font-family: Calibri, 'Trebuchet MS, sans-serif;
}

h2 {
    font-size: 40px;
}
p {
    font-size: 20px;
}

.vincent {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.profile {
    position: absolute;
    right: 5%;
    top:2%;
    color: #000000;
    background-color: #ffffff;
    margin-right: 10px;
    border-style: solid;
    border-radius: 75px;
    padding: 5px;
    height: 500px;
    width: 250px;
    margin: 10px;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.content {
    width: 95%;
    display: inline-block;
    margin-left: 20px;
}

.bio {
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #dbdbdb;
    color: #000000;
    height: 300px;
    background-image: linear-gradient(to left, rgba(214, 214, 214, 0), rgb(177, 177, 177));;
}

.bio img {
    border-radius: 0px 25px 25px 0px;
    max-height: 300px;
}

.bio h2, p {
    margin-left: 30px;
    margin-right: 30px;
}

.work-history {
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #dbdbdb;
    text-indent: 3%;
    color: #000000;
    height: 300px;
    background-image: linear-gradient(to left, rgba(214, 214, 214, 0), rgb(177, 177, 177));;
}

.work-history li {
    margin-top: 16px;
    list-style-type: none;
    font-size: 16px;
}
.work-history img {
    max-height: 300px;
    border-radius: 25px 0px 0px 25px;
}

.personal {
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #dbdbdb;
    color: #000000;
    height: 300px;
    background-image: linear-gradient(to left, rgba(214, 214, 214, 0), rgb(177, 177, 177));;
}

.personal img {
    max-height: 300px;
    border-radius: 0px 25px 25px 0px;
    right: 30%;
}

.personal h2, p {
    margin-left: 30px;
    margin-right: 30px;
}
.form {
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background-color: #dbdbdb;
    height: 200px;
    width: 600px;
    margin-bottom: 20px;
}

.blog {
    height: 300px;
    width: 100%;
    background-image: url("../images/aws.jpg");
    background-size: cover;
    background-position: center;
}

.blog h1{
    color: #ffffff;
    background-color: rgba(34, 34, 34, 0.815);
    text-indent: 1%;
}
.blog h3 {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.815);
    text-indent: 1%;
    position: relative;
    bottom: -65%;
}

#blog {
    font-size: 36px;
    font-weight: bolder;
    text-decoration: underline;
    text-indent: 1%;
    background-color: rgba(34, 34, 34, 0.815);
    position: relative;
    bottom: -65%;
}

.footer {
    background-color: #230633;
    list-style-type: none;
    padding: 10px;
    clear: both;
    text-align: center;
    color:#ffffff
}

.footer h2 {
    font-size: 30px;
    font-family: Calibri, 'Trebuchet MS, sans-serif;
}

.footer li {
    list-style-type: none;
    display:inline-block;
    font-size: 24px;
    padding: 25px;
    text-decoration: underline;
}
